
body {
	background-color: #eee;
	font-family:Microsoft YaHei;
	font-size:14px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #999999;
}

/*Ê×Ò³ÂÖ²¥Í¼*/
.jumbotron {
	padding-top : 48px;
	padding-bottom : 0px;
	margin-bottom : 0px;
}
.jumbotron > .container > .row > .col-md-2 {
	padding-left : 0px;
	width : 20.7%;
}	
.span4 >ol {
	padding-left : 0px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 264px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  
}
.carousel-caption > h1 {
	font-family:Microsoft YaHei;
   font-size:14px;
}
.carousel-caption > p {
	font-family:Microsoft YaHei;
   font-size:12px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 264px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 264px;
}
/*ÄÚÈÝÒ³*/
.thumbnail {
	padding: 0;
	border:0;
	margin-bottom: 0;
}

#home > .row > .col-md-3{
	padding-left: 13px;
    padding-right: 13px;
}

.contents {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdbdb;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 2px;
    background: none repeat scroll 0 0 #fff;
}

.contents-title {
	color:#337FE5;
	font-family:SimHei;
	font-size:14px;
	padding:6px 7px 0px 7px;
	margin: 0;
}

.contents-describe {
	color:#999999;
	font-family:SimHei;
	font-size:12px;
	padding:6px 7px;
}
.img-circle {
	height: 45px;
	width: 45px;
	vertical-align: baseline;
}
/*ËÑË÷Ò³*/
.contents-search {
	background: none repeat scroll 0 0 #fff;
	margin-left: 0;
	margin-right:0;
	border-bottom: 1px solid #ddd;
}
.contents-search:hover{
	border-bottom: 1px solid #4cae4c;
}
/*Ð¡ËµÏêÏ¸*/
.table-bordered {
	border : none;
	width: 80%;
}

.table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td{
	text-align: center;
	border: none;
	padding: 5px;
	font-weight:100;
}
.table-bordered > tbody > tr > td{
	text-align: left;
}